* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.checkout-block {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.main-title {
  margin-top: 64px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 44px;
  color: #4e5150;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  max-width: 465px;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}

.form-title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

/*
.input-area {
  display: flex;
  align-items: center;
  padding: 20px 14px;
  margin-top: 7px;
  margin-bottom: 20px;
  border: 1px solid #828282;
  border-radius: 12px;
  height: 56px;
}

.form-input {
  height: 100%;
  width: 100%;
  border: none;
}

.material-icons {
  margin-right: 18px;
}*/

.input-area {
  position: relative;
}

.form-input {
  padding: 0 14px 0 52px;
  margin-top: 7px;
  margin-bottom: 20px;
  border: 1px solid #828282;
  border-radius: 12px;
  height: 56px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 20px;
}

.material-icons {
  position: absolute;
  z-index: 9;
  top: 23px;
  left: 14px;
}

.shipping-address {
  margin-top: 58px;
}

.country-code {
  display: flex;
  gap: 30px;
}

.country-select {
  width: 217px;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  /*appearance: none;
  background: url("path/img.png") no-repeat right center;*/
  /*add image*/
}

.save-info-area {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.save-button {
  margin-right: 11px;
  width: 21px;
  transform: scale(1.5);
  padding: 10px;
}

.form-button {
  margin-top: 23px;
  margin-left: auto;
  padding: 17px 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #f2994a;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
