* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.checkout-block {
  display: flex;
  justify-content: space-between;
}

.main-title {
  margin-top: 64px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 44px;
  color: #4e5150;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  max-width: 465px;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}

.form-title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

/*
.input-area {
  display: flex;
  align-items: center;
  padding: 20px 14px;
  margin-top: 7px;
  margin-bottom: 20px;
  border: 1px solid #828282;
  border-radius: 12px;
  height: 56px;
}

.form-input {
  height: 100%;
  width: 100%;
  border: none;
}

.material-icons {
  margin-right: 18px;
}*/

.input-area {
  position: relative;
}

.form-input {
  padding: 0 14px 0 52px;
  margin-top: 7px;
  margin-bottom: 20px;
  border: 1px solid #828282;
  border-radius: 12px;
  height: 56px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 20px;
}

.material-icons {
  position: absolute;
  z-index: 9;
  top: 23px;
  left: 14px;
}

.shipping-address {
  margin-top: 58px;
}

.country-code {
  display: flex;
  gap: 30px;
}

.country-select {
  width: 217px;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  /*appearance: none;
  background: url("path/img.png") no-repeat right center;*/
  /*add image*/
}

.save-info-area {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.save-button {
  margin-right: 11px;
  width: 21px;
  transform: scale(1.5);
  padding: 10px;
}

.form-button {
  margin-top: 23px;
  margin-left: auto;
  padding: 17px 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #f2994a;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.overview {
  padding: 33px 29px;
  max-width: 383px;
  width: 100%;
  margin-bottom: auto;
  background: #f2f2f2;
  border-radius: 12px;
}

.overview-product {
  display: flex;
  margin-bottom: 32px;
}

.product-img {
  margin-right: 20px;
  width: 136px;
  border-radius: 12px;
}

.product-name {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 20px;
  color: #4e5150;
}

.product-prices {
  margin-bottom: 40px;
}

.sale-price {
  margin-right: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #f2994a;
}

.old-price {
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: #4e5150;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 134.25px;
  height: 52px;
  border: 1px solid #828282;
  border-radius: 12px;
}

.counter-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  width: 21px;
  font-size: 20px;
  color: #828282;
  background: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}

.counter-amount {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.overview-total-info {
  margin-top: 107px;
}

.total-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 1px solid #bdbdbd;
  padding-top: 11px;
}

.total-text {
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.total-price {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.footer {
  margin-top: 160px;
  margin-bottom: 24px;
  text-align: center;
}

.footer-info {
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}

.footer-link {
  text-decoration: none;
  color: #bdbdbd;
  transition: 0.3s;
}

.footer-link:hover {
  color: #7e7b7b;
}

.username {
  text-decoration: underline;
  font-weight: bold;
}
